article
  padding-bottom: 100px

.article-title
  font-weight: bold
  font-size: 2em
  line-height: line-height-title
  display: block
  margin-bottom: 1em
  color: color-highlight
  word-wrap: break-word

.article-entry
  line-height: line-height
  p, table, ul, ol, dl, blockquote
    margin: line-height 0
  a
    color: color-highlight
    text-decoration: none
    &:hover
      text-decoration: underline
  h1, h2, h3, h4, h5, h6
    font-weight: bold
    line-height: line-height-title
    margin: line-height-title 0
  h1
    font-size: 1.8em
  h2
    font-size: 1.6em
  h3
    font-size: 1.4em
  h4
    font-size: 1.2em
  h5, h6
    font-size: 1em
  hr
    border: none
    border-bottom: 1px solid color-border
    margin: 1em 0
  strong, b
    font-weight: bold
  em, cite, address
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
    cursor: help
  ul, ol
    margin: 0 20px
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: bold
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th, td
    border-bottom: 1px solid color-border
    padding: 10px
  th
    font-weight: bold
  thead
    th, td
      border-bottom-width: 3px
  img, video, .wp-caption
    max-width: 100%
    height: auto
  figure
    margin: 0
  img, figure
    &.alignleft
      margin: 0.5em 1.5em 0.5em 0
    &.alignright
      margin: 0.5em 0 0.5em 1.5em
  figcaption
    font-size: 0.9em
    text-align: center
  iframe
    border: none
  big
    font-size: 125%
  mark, ins
    text-decoration: none
    background: color-highlight
    color: #fff
  kbd, code, var
    font-family: font-mono
  pre
    font-family: font-mono
    background: darken(color-background, 5%)
    overflow: auto
    padding: 10px 15px
  blockquote
    border-left: 3px solid color-border
    padding-left: 15px
    cite
      display: block
      text-align: right
  .more-link
    color: color-text
    background: darken(color-background, 5%)
    padding: 5px 15px
    border-radius: 15px
    transition: background 0.2s
    &:hover
      text-decoration: none
      background: darken(color-background, 10%)

.article-categories
  font-size: 0.9em
  padding-bottom: line-height * 0.5
  line-height: line-height

.article-footer
  text-align: center
  font-size: 0.9em
  padding-top: line-height
  line-height: line-height
  a
    font-weight: bold
    padding: 0 10px
    display: inline-block

.article-meta
  a
    border-left: 1px solid color-border
    &:first-child
      border: none

.article-tags
  a
    &:before
      content: "#"