#header
  padding: 100px 0 40px
  @media mq-normal
    width: sidebar-width
    float: left
    padding-right: gutter-width

#logo-wrap
  text-align: center
  @media mq-normal
    text-align: left

#logo
  color: color-highlight
  font-weight: bold
  font-size: 1.5em
  text-decoration: none
  line-height: line-height-title

#tagline
  margin-top: 20px
  line-height: line-height
  text-align: center
  @media mq-normal
    text-align: left

#banner
  padding-bottom: 100px
  position: relative

#banner-img
  border-radius: 5px
  background-position: center
  background-size: cover
  background-color: darken(color-background, 5%)