// Colors
// http://www.colourlovers.com/palette/867235/LoversInJapan
color-background = #F4EAD5
color-text = #C6A49A
color-highlight = #E94E77
color-border = darken(color-background, 10%)

// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = Consolas, Monaco, Menlo, Consolas, monospace
font-size = 14px
line-height = 1.7em
line-height-title = 1.2em

// Layout
main-width = 960px
sidebar-width = 280px