/*
Theme Name: Caramel
Theme URI: https://github.com/tommy351/wordpress-theme-caramel
Author: SkyArrow
Author URI: http://zespia.tw/
Description: Caramel
Version: 1.0
License: MIT License
License URI: https://raw.github.com/tommy351/wordpress-theme-caramel/master/LICENSE
Tags: light, two-columns, left-sidebar, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, sticky-post, theme-options, translation-ready
Text Domain: caramel
*/

@import "nib"

global-reset()