/*
Theme Name: Caramel
Theme URI: https://github.com/tommy351/wordpress-theme-caramel
Author: SkyArrow
Author URI: http://zespia.tw/
Description: Caramel
Version: 1.0
License: MIT License
License URI: https://raw.github.com/tommy351/wordpress-theme-caramel/master/LICENSE
Tags: light, two-columns, left-sidebar, responsive-layout, custom-background, custom-header, custom-menu, featured-images, flexible-header, microformats, post-formats, sticky-post, theme-options, translation-ready
Text Domain: caramel
*/

@import "nib"
@import "_variables"

global-reset()

*, *:before, *:after
  box-sizing: border-box

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

body
  background: color-background
  font: font-size font-sans
  color: color-text

a
  color: color-highlight
  text-decoration: none

#main
  clearfix()
  width: main-width
  margin: 0 auto

#content
  float: right
  width: main-width - sidebar-width
  padding: 100px 0 40px 30px

.alignleft
  float: left

.alignright
  float: right

@import "_partial/header"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/comment"
@import "_partial/sidebar"
@import "_partial/footer"